.navigation{
    left: 0;
    padding: 40px 20px;
    top: 0;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
    width: 100%;
}
.navigation .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}
.navigation .navbar{
    position: relative;
}
.navigation .navbar-brand{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navigation .navbar-nav .nav-link{
    color: #FFFFFF;
    font-family: 'Supra-NormalExtended';
}
.navigation .navbar-nav .nav-link:hover{
    color: #F29105;
    font-family: 'Supra-NormalExtended';
}
.footer{
    background: #0B0B0B;
    padding: 40px 20px;
}
.footer .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}
.footer h4{
    color: #F29105;
    font-family: 'Supra-XLightExtended';
    font-size: 14px;
}
.footer p{
    color: #C7C6C6;
    font-family: 'Supra-XLightExtended';
    font-size: 12px;
}
.footer .logo span{
    width: 139px !important;
    height: 83px !important;
}
.footer .logo-goplek{
    text-align: end;
    padding-top: 20px;
}
@media (max-width: 767px){
    .navigation{
        padding: 60px 20px;
    }
    .footer h4{
        font-size: 12px;
    }
    .footer p{
        font-size: 10px;
    }
    .footer .logo{
        margin-bottom: 10px;
    }
    .footer .logo span{
        width: 83px !important;
        height: 50px !important;
    }
    .footer .logo-goplek{
        padding-top: 25px;
    }
}